@import './reset';
:root {
  --primary-color: #4CAF50;
  --secondary-color: #FF5722;
  --font-family: 'Arial, sans-serif';
}

html, body {//HTML 和 Body 的高度默认是根据内容来决定的。为了确保我们的容器可以撑满整个视口，需要将 HTML 和 Body 的高度设置为 100%
  height: 100%;
 
}

body {
  font-family: var(--font-family);
  background-color: #f0f8ff;
  color: #333;
}

#root {//确保 #root 和 .container 的高度为 100%：确保这些元素能撑满父级容器
  height: 100%;
  width: 100%;
}

.container {
  width: 100%;
  height: 100%;
  padding: 20px;
  box-sizing: border-box;
  // display: flex;
  // flex-direction: column;
  // justify-content: center;
  // align-items: center;
}

/* 定义自定义媒体查询 */
@custom-media --small-viewport (max-width: 600px);
@custom-media --medium-viewport (min-width: 601px) and (max-width: 1024px);
@custom-media --large-viewport (min-width: 1025px);

/* 使用自定义媒体查询 */
@media (--small-viewport) {
  .container {
    background-color: lightblue;
    padding: 10px;
  }
}

@media (--medium-viewport) {
  .container {
    background-color: lightgreen;
    padding: 15px;
  }
}

@media (--large-viewport) {
  .container {
    background-color: lightcoral;
    padding: 20px;
  }
}
