.signIn{
 .iptAccount{
    // width: 40px;
    div{
        width: 24px;
        height: 24px;
        img{
            width: 100%;
        }
    }
 }   
 :global(.adm-list-item-content-prefix){
    width: auto;
 }
 :global(.adm-list-item-content-main){
    display: flex;
    justify-content: left;
    align-items: center;
 }
}