.layoutPage{
  height: 100%;
  .layoutMain{
    height: calc(100% - 50px) !important;
}
.footerBar {
  position: fixed;
  bottom: 0;
  left: 0;
  width: calc(100% - 40px);
  padding: 0 20px;
  height: 50px;
  line-height: 50px;
 display: flex ;
 flex-direction: row;
 justify-content: space-between;
 background-color: antiquewhite;
 li{
  font-size: 26px !important;
 }
}
}
